

h1/*changing the color of h1*/
{
color:grey;
text-align: center;
}

form/* changed the alignment of the form*/
{
text-align: center;
}

input /* changed the color of the input! and background*/
{

color:blueviolet;
background-color: black;
}

ul /*Changed the color, fontstyle and weight*/
{
    text-align: center;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: bold;
    
}

div /*Changed the color, fontstyle, alignment and weight*/
{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color:black
    
}



img /*I used this to center it by setting left and right margin to auto to make a block element, since i couldn't get align to work well */
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

body
{
    /* Changing background color*/
    
    background-image: radial-gradient(rgb(189, 14, 40),rgb(35, 35, 35));
    background-repeat: no-repeat;
}

ul /*changed the font background color, weight and style.*/
{
    background-color: black;
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
}